@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.movies__loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7342d6;
}

.movies__loading--spinner {
  display: none !important;
}
.movies__loading .movies__loading--spinner {
  display: block !important;
}

h3 {
  font-size: large;
  color: #242424;
}

p {
  color: #242424;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 8px;
}

.logo {
  font-size: 24px;
  background-color: aquamarine;
  padding: 4px;
  width: 200px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 40px;
  border-color: rgb(0, 0, 0, 800);
  border-width: 200px;
}

.ul {
  display: flex;
  margin-left: 8px;
}

#input {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.input__button {
  margin: 16px;
  padding: 0px 16px;
  border-color: black;
  background-color: bisque;
}

#search__input {
  height: 40px;
  width: 500px;
  border-radius: 4px;
  border-width: 4px;
  margin-top: 48px;
}
#filter {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 24px;
  padding: 4px 16px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__item {
  margin-left: 8px;
  list-style-type: none;
  font-weight: 700px;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9e9e9;
}

.container {
  margin: 0 auto;
  padding: 0;
}

p {
  font-size: 14px;
  word-break: break-word;
}

.user {
  width: 30%;
  margin: 0 auto;
  max-width: 1000px;
}

.user-card__container {
  padding: 2px 16px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.movie__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;
  object-fit: contain;
  object-position: left;
  cursor: pointer;
}

figure {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

#footer {
  text-align: center;
  margin: 0 auto;
  margin-top: 36px;
  background-color: #252525;
  padding: 16px 96px;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  font-size: 24px;
  background-color: aquamarine;
  padding: 4px;
  width: 200px;
  border-radius: 2px;
  box-shadow: 40px;
  border-color: rgb(0, 0, 0, 800);
  border-width: 200px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: azure;
}

@media (max-width: 550px) {
  nav {
    margin-bottom: 72px;
  }
  #input {
    max-width: 500px;
  }
  .input__button {
    max-width: 500px;
    width: 40%;
    margin: 0 auto;
  }
  #search__input {
    max-width: 500px;
    width: 70%;
    margin-top: 24px;
  }
  .select {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  .movies {
    padding: 24px;
    max-width: 400px;
  }
  .user-card__container {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .movie__img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}
